<tr id="comment-<%= comment.id %>">
  <td style="width: 60px">
    <%= image_tag 'sample.jpg', class: 'rounded-circle mr15', width:'50', height:'50' %>
  </td>
  <td>
    <h3 class="small"><%= comment.user.decorate.full_name %></h3>
    <div id="js-comment-<%= comment.id %>">
      <p><%= comment.body %></p>
    </div>
    <div style="display: none;">
      <textarea class="form-control mb-1">コメントです</textarea>
      <button class="btn btn-light">キャンセル</button>
      <button class="btn btn-success">更新</button>
    </div>
  </td>

  <td class="action">
    <ul class="list-inline justify-content-center" style="float: right;">
      <% if current_user.own_comment?(comment) %>
      <li class="list-inline-item">
        <a href="#">
          <i class='fa fa-pencil-alt'></i>
        </a>
      </li>
      <li class="list-inline-item">
        <%= link_to icon('fas', 'trash'),
        comment_path(comment),
        method: :delete,
        remote: true,
        class: :"js-delete-comment-button",
        data: { confirm: '削除してよろしいですか？' } %>
      </li>
      <% end %>
    </ul>
  </td>
</tr>
