<div class="row mb-3">
  <div class="col-lg-8 offset-lg-2">
    <%= form_with(model: [@board, @comment], local: true) do |f| %>
      <%= render 'shared/error_messages', model: @comment %>
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, row: '2', class: 'form-control mb-1', placeholder: 'コメント'%>
        <%= f.hidden_field :board_id, value: @board.id %>
      </div>
      <%= f.submit (t 'defaults.post'), class: "btn btn-primary", data: { disable_with: (t 'defaults.post')} %>
    <% end %>
  </div>
</div>
