<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t '.title' %></h1>
      <%= form_with(model: @board, local: true) do |f| %>
        <%= render 'shared/error_messages', model: @board %>

        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control'%>
        </div>
        <div class="form-group">
          <%= f.label :body %>
          <%= f.text_area :body, class: 'form-control', row: '10', style: 'height: 200px'%>
        </div>
        <div class="form-group">
          <%= f.label :board_image %>
          <%= f.file_field :board_image, onchange: 'previewImage()', class: 'form-control', accept: 'image/*' %>
          <%= f.hidden_field :board_image_cache %>
        </div>
        <div class="fmt-3 mb-3">
          <%= image_tag @board.board_image.url,
                  id: 'preview',
                  size: '300x200' %>
        </div>
        <%= f.submit (t '.create'), class: "btn btn-primary", data: { disable_with: (t '.create')} %>
      <% end %>
    </div>
  </div>
</div>
